.navigation {
    padding: 1.5% 0;
    background-color: #036487;

    a {
        margin: 3%;
        font-size: 1.25em;
        color: white;
        text-decoration: unset;

        &:hover {
            text-decoration: underline;
        }
    }
}