@import '~antd/dist/antd.css';

.news-card {
    .loaded-view {
        width: 22%;
        margin-top: 1rem;
    
        .news-picture {
            height: 10em;
    
            & > img {
                width: 100%;
                height: 100%;
            }
        }
    
        .news-title {
            font-size: 1.4rem;
        }
    
        .news-date {
            font-size: 1.2rem;
        }
    
        .news-content {
            font-size: 1rem;
        }

        .like-button {
            
            &:hover {
                background-color: #ff4d4f;
            }
        }
    }
    
    .loading-view {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }
}
