@import '~antd/dist/antd.css';

.news-card {
    width: 22%;
    margin-top: 1rem;

    .news-title {
        font-size: 1.4rem;
    }

    .news-date {
        font-size: 1.2rem;
    }

    .news-content {
        font-size: 1rem;
    }

    .like-button {
        
        &:hover {
            background-color: #ff4d4f;
        }
    }

    .dislike-button {

        background-color: #FF2B56;

        &:hover {
            background-color: white;
        }
    }
}
